net: "examples/geoanimal/13parts/googlenetv2_train_val.prototxt.%"
test_iter: 89
test_interval: 10000
test_initialization: false
display: 50
average_loss: 50
base_lr: 0.002
lr_policy: "poly"
power: 0.5
max_iter: 200000
momentum: 0.9
weight_decay: 0.0002
snapshot: 100000
snapshot_prefix: "/home/kevhsieh/mnr/geeps_gaia/apps/caffe/outputs/geoanimal_googlenetv2_13parts_bsp_shuffleddata/googlenetv2_snapshot"
solver_mode: GPU
random_seed: 0